<div class="title-header">
	<ul class="cb-slideshow">
	    <li><span>Image 01</span><div><h3>re·lax·a·tion</h3></div></li>
	    <li><span>Image 02</span><div><h3>qui·e·tude</h3></div></li>
	    <li><span>Image 03</span><div><h3>bal·ance</h3></div></li>
	</ul>
</div>