<div class="footer">
  <small>
  	<p>
      <%= image_tag 'xtandi-logo-150.png' %>
      <br>
      Prescribing information can be found <a href = "http://xtandi.s3.amazonaws.com/XTANDI%20PI.pdf", target = "_blank">here</a>
    </p>
  </small>
  <small>
    Date of preparation: December 2013	Jobcode: XTD13057UKaf
  </small>
  <br>
  <small>
    These webinars are organised and funded by Astellas Pharma Ltd.
  </small>
</div><!-- footer -->