<div id="footer">
    <div class="container">
        <div class="col-md-12" style="text-align: left;">
        	<br />
			<small>Date of preparation: June 2015</small>
			<br />
			<small>Job code: XXXXXXXXX</small>
			<br />
			<small>These webinars were organised and funded by Boehringer Ingelheim. The speakers have been invited and briefed by Boehringer Ingelheim.</small>
		</div>
    </div>
</div>