<div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1" style="text-align: left;">
          <p>Prescribing Information can be found <a href="https://s3.amazonaws.com/streamingwell/Vesomni+PI.pdf">here</a></p>
          <p>*The consensus statement was funded and initiated by Astellas Pharma Ltd who nominated the authors, organised and funded the consensus group meeting and checked the consensus statement for accuracy.</p>
          <p>This webinar is organised and funded by Astellas Pharma Ltd.<p>
          <p>Date of preparation: July 2014</p>
          <p>VSO14086UK(1)</p>
        </div>
      <!-- <div class="col-sm-2">
        <img src="https://s3.amazonaws.com/streamingwell/Astellas-Urology-100.png">
      </div> -->
    </div>
  </div>
</div>