<div id="footer">
    <div class="container">
    	<div class="row">
        <div class="col-md-8 col-md-offset-2" style="text-align: left;">
        	<br />
	      	<p>This webinar will include discussions relating specifically to Astellas marketed products.<p>
	    	<p>Prescribing information is available within the main site.</p>
			<p>Date of preparation: May 2014	Job code: VSO14086UK</p>
			<p>This webinar is organised and funded by Astellas Pharma Ltd.</p>
		</div>
		</div>
    </div>
</div>