<div id="footer">
  <br />
		<small>Date of preparation: June 2015</small>
		<br />
		<small>Job code: UK/SPI-151314j</small>
		<br />
		<small>These webinars were organised and funded by Boehringer Ingelheim. The speakers have been invited and briefed by Boehringer Ingelheim.</small>
		<br/>
</div>