<div class="blockquote-box clearfix col-md-10 col-md-offset-1" style="background-color: transparent; margin-bottom: -40px;">
    <div class="square pull-left">
       <img src="https://s3.amazonaws.com/streamingwell/Astellas-Urology-100.png" alt="" class="" />
    </div>
    <h1 style="font-size: 40px;">Urology Lunchtime Webinar</h1>
	<p style="color: #CC0767; font-weight: 400; font-size: 20px;">Lower Urinary Tract Symptoms: Think Prostate AND Bladder</p>
</div>
